body {
  background-color: #F6F6F6;
  padding-bottom: 10px;
}
/* Navigation Left */
ul.leftnav {
  list-style-type: none;
  background-color: #F6F6F6;
}
ul h3 {
  font-size: 14px;
  color: #676262;
}

/* End Navigation Left */

/* Navigation Top */
.bottombar,
.topbar {
  padding-right: 20px;
}
.bottombar {
  border-top: 0px;
  margin-top: 0px;
}
.topbar {
  border-bottom: 0px;
  margin-bottom: 0px;
}
/* End Navigation Top *
/* Jumbotron */
.jumbotron {
  background-color: white;
}
.jumbotron h2 {
  font-size: 20px;
  font-weight: bold;
}
.jumbotron p {
  font-size: 14px;
}
/* End Jumbotron */

/* Welcome & Categories */
.welcome {
  background-color: #F6F6F6;
  margin-bottom: 3px;
}
.categories {
  display: inline;

}
.categories li a {
  font-size: 14px;
}
/* End Welcome & Categories */

/* Main Content */
.col {
  border: lightgrey 1px solid;
}
.col h3 {
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
  border: lightgrey 1px solid;
}
.leftcol {
  background-color: #F5FFFA;
}
.rightcol {
  background-color: #F5FAFF;
}
.leftcol h3 {
  background-color: #CEF2E0;
}
.rightcol h3 {
  background-color: #CEDFF2;
}
.importanlink {
  font-weight: bold;
}
/* End Main Content */

/* Extra Content */
.extra {
  background-color: #FAF5FF;
  padding-bottom: 10px;
}
.extra h3 {
  background-color: #DDCEF2;
}
/* End Extra Content */

/* Additional Links */
.logo {
  float: left;
  margin-right: 20px;
  width: 32px;
  margin-bottom: 10px;
}
#listlink {
  text-align: center;
  font-weight: bold;
}
/* End Additional Links */
