body {
  background-color: #F6F6F6;
  padding-bottom: 10px;
}
ul.leftnav {
  list-style-type: none;
  background-color: #F6F6F6;
}
ul h3 {
  font-size: 14px;
  color: #676262;
}
.categories {
  display: inline;

}
.categories li a {
  font-size: 14px;
}
.jumbotron h2 {
  font-size: 20px;
  font-weight: bold;
}
.jumbotron p {
  font-size: 14px;
}
.leftcol {
  background-color: #F5FFFA;
}
.leftcol h3 {
  background-color: #CEF2E0;
}
.rightcol {
  background-color: #F5FAFF;
}
.rightcol h3 {
  background-color: #CEDFF2;
}
.col h3 {
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
  border: lightgrey 1px solid;
}
.col {
  border: lightgrey 1px solid;
}
.extra {
  background-color: #FAF5FF;
}
.extra h3 {
  background-color: #DDCEF2;
}
